# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.log
*.tlog
*.recipe
*.ilk
*.idb
*.ipch
*.vcxproj
*.filters
*.user
*.db
game/project/.vs/gdv/v15/.suo
game/project/.vs/gdv/v16/.suo
*.db-shm
*.db-wal
*.opendb
game/build/app.vcxproj.FileListAbsolute.txt
